.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.db
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
.env

.git/
.gitignore
.vscode/
.idea/

docker-compose.yml
Dockerfile
.dockerignore